
body {
  background: linear-gradient(#E2CF69,#C6C6C6);
}

h1 {
  color: black;
  text-align: center;
}

p {
	height: 1080.0px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}