                    .white-box {
                    background: #fff;
                    padding: 25px;
                    margin-bottom: 15px;
                }
                
                @media (min-width:768px) {
                    #page-wrapper {
                        position: inherit;
                        margin: 0 0 0 220px
                    }
                    .bg-title h4 {
                        color: rgba(0, 0, 0, .5);
                        font-weight: 600;
                        margin-top: 6px
                    }
                    .sidebar .sidebar-nav.navbar-collapse {
                        padding-left: 0;
                        padding-right: 0
                    }
                    .sidebar {
                        z-index: 10;
                        position: absolute;
                        width: 220px;
                        padding-top: 60px;
                        height: 100%
                    }
                    .navbar-default {
                        border: 0
                    }
                    #side-menu>li>a {
                        padding: 15px 30px 15px 15px
                    }
                    #side-menu>li>a.active {
                        border-left: 3px solid #ff6849;
                        color: #fff;
                        background: rgba(0, 0, 0, 0)
                    }
                    @media (min-width:768px) {
                        #page-wrapper {
                            position: inherit;
                            margin: 0 0 0 220px
                        }
                        .navbar-default {
                            position: relative;
                            width: 100%;
                            top: 0
                        }
                        .fix-header .navbar-static-top {
                            position: fixed
                        }
                        .fix-header #page-wrapper {
                            margin-top: 60px
                        }
                        .sidebar {
                            z-index: 10;
                            position: absolute;
                            width: 220px;
                            padding-top: 60px;
                            height: 100%
                        }
                        .fix-sidebar .sidebar {
                            position: fixed;
                            overflow: hidden
                        }
                        .fix-sidebar .top-left-part {
                            position: fixed;
                            width: 220px
                        }
                        .fix-sidebar .navbar-left {
                            margin-left: 220px
                        }
                        .footer {
                            left: 220px
                        }
                        .content-wrapper #page-wrapper {
                            margin-left: 60px
                        }
                        .content-wrapper .navbar-left {
                            margin-left: 0
                        }
                        .content-wrapper .footer {
                            left: 60px
                        }
                        .content-wrapper .sidebar {
                            width: 60px
                        }
                        .content-wrapper .sidebar .hide-menu {
                            display: none;
                            width: 180px;
                            left: 60px
                        }
                        .content-wrapper .sidebar .sidebar-nav {
                            position: absolute;
                            overflow: hidden
                        }
                        .content-wrapper .sidebar .sidebar-nav .nav-second-level {
                            position: absolute;
                            z-index: 999999
                        }
                        .content-wrapper .sidebar .nav-small-cap,
                        .content-wrapper .sidebar li span span {
                            display: none
                        }
                        .content-wrapper .sidebar #side-menu>li:hover {
                            width: 300px;
                            background: #f7fafc
                        }
                        .content-wrapper .sidebar li:hover .hide-menu {
                            display: inline
                        }
                        .content-wrapper .sidebar #side-menu>li>a {
                            padding: 15px 17px 15px 20px
                        }
                        .content-wrapper .sidebar li:hover .nav-second-level,
                        .content-wrapper .sidebar li:hover .nav-second-level.collapse li,
                        .content-wrapper .sidebar li:hover .nav-second-level.in {
                            display: block
                        }
                        .content-wrapper .sidebar .nav-second-level {
                            position: absolute;
                            left: 60px;
                            background: #f7fafc;
                            width: 240px;
                            opacity: 1;
                            padding-bottom: 20px;
                            display: none
                        }
                        .content-wrapper .sidebar .nav-second-level li {
                            background: #f7fafc
                        }
                        .content-wrapper .top-left-part {
                            width: 60px
                        }
                        .navbar-top-links .dropdown-alerts,
                        .navbar-top-links .dropdown-messages,
                        .navbar-top-links .dropdown-tasks {
                            margin-left: auto
                        }
                        .mail_listing {
                            border-left: 1px solid rgba(120, 130, 140, .13);
                            padding-left: 20px
                        }
                        .inbox-panel {
                            padding-right: 20px
                        }
                        .top-minus {
                            margin-top: -62px;
                            float: right
                        }
                        .content-wrapper.fix-sidebar .navbar-left,
                        .fix-sidebar.content-wrapper .navbar-left {
                            margin-left: 60px!important
                        }
                        .content-wrapper.fix-sidebar .sidebar,
                        .fix-sidebar.content-wrapper .sidebar {
                            position: fixed
                        }
                        .content-wrapper.fix-sidebar .sidebar .sidebar-nav,
                        .fix-sidebar.content-wrapper .sidebar .sidebar-nav {
                            position: absolute
                        }
                        .content-wrapper.fix-sidebar .sidebar .sidebar-nav .nav-second-level,
                        .fix-sidebar.content-wrapper .sidebar .sidebar-nav .nav-second-level {
                            position: absolute;
                            z-index: 99999
                        }
                    }