body{
	margin:0;
	padding:0;
	font-family: sans-serif;
	background: url(orange.jpg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
	
	}
.loginbox {
		width:1220px;
		height:620px;
		background: rgb(63, 63, 63);
		color: #fff;
		top:50%;
		left:50%;
		position: absolute;
		transform:translate(-50%, -50%);
		box-sizing:border-box;
		padding: 70px 30px;
		
}
.table-wrapper
{
    border: 1px solid white;
    max-width: 1160px;
    height: 480px;
    overflow: auto;
}

.table-wrapper1
{
    max-width: 1160px;
    height: 480px;
    overflow: auto;
}

.table-wrapper2
{
    border: 1px solid white;
    width: 350px;
    height: 480px;
	background: #fff;
	float: left;
	
}

.table-wrapper3
{
    width: 300px;
    height: 480px;
	float: left;
	margin: 35px;
}

.table-wrapper4
{
    width: 300px;
    height: 480px;
	float: left;
}


.appetiser-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 70px;
    overflow: auto;
	float: left;
}

.main-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 70px;
    overflow: auto;
	float: left;
}

.side-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 70px;
    overflow: auto;
	float: left;
}

.dessert-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 70px;
    overflow: auto;
	float: left;
}

.drinks-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 70px;
    overflow: auto;
	float: left;
}
.appetiser1-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 400px;
    overflow: auto;
	float: left;
}

.main1-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 400px;
    overflow: auto;
	float: left;
}

.side1-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 400px;
    overflow: auto;
	float: left;
}

.dessert1-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 400px;
    overflow: auto;
	float: left;
}

.drinks1-wrapper
{
    border: 1px solid white;
    width: 225px;
    height: 400px;
    overflow: auto;
	float: left;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  border-spacing: 5px;
}


.popup .overlay {
	position:fixed;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
	background:rgba(0,0,0,0,0,.7);
	z-index:1;
	display:none;
}

.popup .content {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%) scale(0);
	background:#fff;
	width:450px;
	height:220px;
	z-index:2;
	text-align:center;
	padding:20px;
	box-sizing:border-box;
}

.popup .close-btn {
	cursor:pointer;
	position:absolute;
	right:20px;
	top:20px;
	width:30px;
	height:30px;
	background:#222;
	color:#fff;
	font-size:25px;
	font-weight:600;
	line-height:30px;
	text-align:center;
	border-radius:50%;
}

.popup.active .overlay {
	display:block;
}

.popup.active .content{
	transition:all 300ms ease-in-out;
	transform:translate(-50%, -50%) scale(0);
}


table
{
    border: 1px solid black;
    margin-right: 20px;
}

td
{
    width: 20px;
    height: 20px;
    background-color: #ccc;
}

.button {
  background-color: rgb (255, 255, 255 );
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
}

.button1 {
  background-color: rgb (255, 255, 255 );
  border: none;
  color: black;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
}

.button2 {
  background-color: rgb (255, 255, 255 );
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
  width: 75%;
  height: 25%;

}




.person{

	width: 100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left: calc(50%  -  50px);
}

h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:20px;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
}
.loginbox input{
	width:100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border:none;
	border-bottom:1px solid #fff;
	background:transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size:9px;
}

.loginbox input[type="submit"]

{
	border:none;
	outline:none;
	height:40px;
	background:#FF4500;
	color:#fff;
	font-size: 16px;
	border-radius: 18px;
}
.loginbox input[type="submit"]:hover
{

	cursor:pointer;
	background:#FF7034;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size:10px;
	line-height:20px;
	color:darkgrey;
}

.loginbox a:hover
{
	color:#FF7034;
}